body{
    font-family: Roboto, Arial;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160vh;
    
}
form{
    width: 90%;
}

.container, .resume-page{
    width: 90%;
    max-width: 650px;
    background-color: rgb(235, 95, 14);
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}

label{
    display: block;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    margin-bottom: 0.7em;
    
}
legend{
    color: rgb(217, 248, 41);
    font-size: 1.6em;
    text-align: center;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 10px;
}
input[type= "text"], input[type= "email"], input[type= "tel"]{
    width: 90%;
    padding: 0.8em;
    margin-top: 0.5em;
    border: 2px solid yellow;
    box-sizing: border-box;
}

input[type="file"]{
    color: white;
}

.skill-category{
    display: block;
    width: 90%;
    margin: 10px auto;
   
}
button{
    
    background-color: black;
    color: white;
    border: 2px solid yellow;
    padding: 10px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: font-size 0.15s, opacity 0.15s;
    margin-right: 10px;
}

button:hover{
    font-size: 1.1rem;
    opacity: 0.9;
}

.editButton, .shareButton, .downloadButton{
    background-color: rgb(14, 78, 80);
    border: none;
    padding: 10px 20px;
}

.generate-button, .addEducationButton, .addExperienceButton{
    text-align: center;

}
.hidden{
    display: none;
}
.container-heading{
    color: aqua;
    text-align: center;
    font-size: 2.5em;

}

.resume-page{
    background-color: white;
}
#resumeContent h1{
    color: rgb(34, 150, 143);
    text-align: center;
}

#resumeContent h2{
    color:  rgb(34, 150, 143);
    text-align: left;
}
#resumeContent img{
    width: 160px;
    height : 160px;
    border-radius: 50%;
    border: 5px solid gray;
    object-fit: cover;
    display: block;
    margin: auto;
}

.resume-page{
    border: 5px solid gray;
    color: black ;
}










@media (max-width: 768px) {
    form {
        width: 90%;
    }
    body{
        font-size: 14px;
    }
    label{
        font-size: 1em;
    }
    legend{
        font-size: 1.4em;
    }
    button{
        font-size: 0.9rem;
    }
    input[type= "text"], input[type= "email"], input[type= "tel"]{
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    form{
        width: 100%;
    }

    body{
        font-size: 12px;
    }
    label{
        font-size: 0.9em;
    }
    legend{
        font-size: 1.2em;
    }
    button{
        font-size: 0.8rem;
    }
    input[type= "text"], input[type= "email"], input[type= "tel"]{
        font-size: 12px;
    }
}
